.article
{   

    h1{
        margin: 1rem 0;
    }
    h4{
        margin-bottom: 2rem;
        color: darkgray;
    }
    .illustration
    {
        width: 100%;
        height: 250px;
        position: relative;
    }
}

.main
{
    width: 95%;
    margin: auto;
}